*{
    padding: 0;
    margin: 0;
    list-style: none;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: orange;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: orangered;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid orange;  /* creates padding around scroll thumb */
  }

.logo{
    width: 320px;
    height: 75px;
    pointer-events: none;
}

marquee{
    margin-bottom: -23px;
    text-align: center;
    padding-top: 5px;
    white-space: wrap;
    pointer-events: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.charity{
    color: rgba(0,0,0,.55);
    border: 1px solid pink;
    background-color: pink;
    text-transform: uppercase;
    margin-right: 10px;
    margin-left: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-weight: bold;
}

.charity:hover span{
    display: none;
}

.charity:hover{
    background-color: orange;
    color: rgba(0,0,0,.55);
    border: 1px solid orange;
    transition: .5s ease-in;
}

.charity:hover::before{
    content: " Donate";
    padding-right: 4px;
}

.nav-link{
    text-transform: uppercase;
    padding: 5px;
    font-size: 15px;
    font-style: 'Poppins', sans-serif;
}

.navbar-light .navbar-nav .nav-link{
    padding: 10px;
}

@media screen and (max-width: 560px){
    .logo{
        width: 166px;
        height: 40px;
    }
    nav{
        width: 100%;
    }
}